html, body, h1, h2, p, nav, ul, li, a, img {
    
    margin:0;
    padding:0;
    
    font-family: arial;
    font-size: 20px;
    
    color:#000;
    background-color: #09a;
    
}

h1, h2, .links {
    color: #fff;
}

h1, .links { 
    font-size: 2.0em;
}

nav {
    position:relative;
    top:20px;
    
    
    width:100%;
    height:50px;
   
    clear:both;
}

ul {

    
    list-style-type: none;
    height:100%;
    
    background-color: yellow;
}

li {
    display: block;
    width: calc(100% / 4); /* matches the amount of menu items */
    height: 100%;
    float:left;
    text-align: center;
    line-height: 50px; /* matches the height of the navbar */
    
    background-color: #06c;
}

li:hover {
    background-color: #02c;
}

header.left {
   width:50%;
   float:left;
}

header.right {
   width:30%;
   float:left;

}

.contact-icons {
    
    margin:0;
    padding:0;
    
    width:25%;

}

.bodyText {
    position:relative;
    top:100px;
    
}

.facebook {
    background-color:#3B5998;
}

.twitter {
    background-color:#55acee;
}

.linkedin {
    background-color:#0077b5;
}

.pinterest {
    background-color:#bd081c;
}

/* Forms */

input {
    display:block;
    border:1px solid #222;
    
    width:40%;
    height:40px;
    font-size:30px;
}